/* 

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #42978a;
  color: #fff;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.leftNavBarSide,
.rightNavBarSide {
  display: flex;
  align-items: center;
}

.leftLinks,
.rightLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.leftLinks li,
.rightLinks li {
  margin-right: 15px;
}

.Navbar a,
.Navbar h1,
.Navbar button {
  text-decoration: none;
  color: #fff;
}

.Navbar img {
  
  height: 4rem;
  margin-bottom: -0.5rem;
}

.Navbar button {
  background-color: #327168;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.Navbar button:hover {
  background-color: #215449;
}
 */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #42978a;
  color: #fff;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
}

.leftNavBarSide,
.rightNavBarSide {
  display: flex;
  align-items: center;
}

.leftLinks,
.rightLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.rightLinks {
  justify-content: end;
  align-items: center;
}

.leftLinks li,
.rightLinks li {
  /* margin-right: 1.5rem; */
  margin-right: 1.5rem;
}

.Navbar a,
.Navbar h1,
.Navbar button {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.Navbar img {
  max-width: 15vw;
  min-width: 8rem;
  margin-bottom: -0.5rem;
}

.Navbar button {
  background-color: #327168;
  color: #fff;
  border: none;
  /* padding: 8px 15px; */
  padding: 1vw 2vw; /* Adjust as needed */
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Navbar button:hover {
  background-color: #215449;
}
